body{
  margin: 0;
}

#main_title{
  color: #212121;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  background: #eee;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px #1b1b1b;
}

#main_title_div{
  color: #212121;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  background: #eee;
  padding: 30px;
  box-shadow: 5px 5px 5px #1b1b1b;
  max-height: 150px;
}

#main_title_div * {
  display: table;
  margin: 0 auto;
}

#mainheader{
  text-align: center;
  margin-top: 0;
  font-size: 45px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  color: #eee;
  padding: 20px 0;
}

#back_button{
  border: none;
  padding: 12px;
  text-decoration: none;
  font-size: 10px;
  position: absolute;
  top: 110px;
  z-index: 9999;
}

#back_button:hover{
  background: #212121;
  cursor: pointer;
  color: #eee;
}

#main_title_logo{
  width: 100%;
  max-width:175px;
}

@media screen and (max-width: 800px) {
  #back_button{
    display: none;
  }
}

footer{
  background: #eee;
  padding: 20px;
  width: 100%;
}

byline *{
  margin: 0 auto;
  display: block;
  text-align: center;
}

#byline_logo {
  height: 70px;
  display: block;
  margin: 20px auto;
  transition: transform 0.4s;
  transition-timing-function: ease-out;
}

#byline_logo:hover{
  transform: rotate(90deg);
  cursor: pointer;
}

#byline_text{
  text-align: center;
  font-size: 13px;
  color: #212121;
  font-weight: 200;
}
