*{
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}

body{
  margin: 0;
  background: #250A46;
}

#main_header_div{
  background: #4a148c;
}

#sub_title{
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  text-align: center;
  padding: 0px 50px 20px 50px;
  display: table;
  margin: 0 auto;
  font-size: 12px;
}

#blend_area{
  margin: 50px auto 100px auto;
}

.color_input_div{
  background: rgba(0,0,0,0);
  padding: 20px;
  color: #eee;
  margin: 0 auto;
  display: table;
}

.color_input_div *{
  margin: 0 auto;
  display: table;
}

.color_input{
  color: #eee;
  padding: 10px 15px 10px 0;
  font-size: 1em;
  background: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.color_input::placeholder{
  color: rgba(255,255,255,0.5);
}

.color_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
}
.color_input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.5);
}
.color_input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.5);
}
.color_input:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.5);
}

.color_input:focus{
  outline: none;
  border-bottom: 1px solid #eee;
}

#blend_colors_button{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #eee;
  color: #212121;
  font-size: 12px;
}

#blend_colors_button:hover{
  background: #212121;
  color: #eee;
  cursor: pointer;
}

#result_text{
  color: #eee;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
